*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) ,url('back.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(0, 221, 0);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    padding: 6px;
    margin: 10px;
    border-radius: 20px;
}

.logo{
    border-radius: 30%;
    padding: 10px;
}

.p{
    font-weight: bold;
}

button{
    background-color: #062B1E;
    color: #D9B468;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    color: rgb(0, 221, 0);
}

.main{
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    margin: 10px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 13px;
    font-size: 14.7px;
}

.btn{
    margin-bottom: 40px;
}

.bod{
    background: rgba(255, 255, 255, 0.25);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    display: block;
    text-align: start;
}

li{
    list-style: none;
    background: linear-gradient(to right, #062B1E, #D9B468);
    padding: 10px;
    border-radius: 20px;
    padding-left: 30px;
    font-weight: bold;
    color: #D9B468;
    margin-bottom: 20px;
}



footer{
    font-weight: bold;
    color: #062B1E;
}